.main{
    width: fit-content;
    box-shadow: 10px 10px 50px lightgray;
    border-radius: 20px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 40px 20px 40px;
    padding: 40px 20px;
}

.data-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.input-login{
    margin-bottom: 15px !important;
    padding: 3px 23px;
    border: none;
    background-color: #F2F4F4;
}

::placeholder{
    color: gray;
    font-weight: 500;
    text-align: center;
}

.login-btn{
    color: white;
    background-color: #03D6B9;
    padding: 3px 154px;
    border: 0px;    
}

.google-img{
    width: 40px;
    margin-right: 70px;
}

.google-btn{
    background-color: white;
    color: #494848;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-top: 5px;
    padding-right: 62px;
    font-weight: bold;
}
.google-img{
    width: 40px;
    margin-right: 65px;
}


@media only screen and (max-width : 440px) {
    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 80px;
        padding: 40px 20px;
    }
}